<section class="banner">
  <div class="banner__container">
    <button class="banner__button banner__button--primary">Download App</button>
    <div class="banner__logo">
      <img src="images/logo.png" alt="Logo" class="banner__logo-image" />
    </div>
    <div class="banner__store-links">
      <a href="#" class="banner__store-link banner__store-link--appstore">
        <img src="images/app/badge.png" alt="Download on the App Store" />
      </a>
      <a href="#" class="banner__store-link banner__store-link--googleplay">
        <img src="images/app/badge-new.png" alt="Get it on Google Play" />
      </a>
    </div>
  </div>
</section>
