<section class="bonus-sectio">
  <div class="bonus-section__header">
    <h2 class="bonus-section__title">WELCOME BONUS</h2>
    <p class="bonus-section__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
      egestas eget purus in dignissim imperdiet sagittis eget.
    </p>
  </div>

  <div class="bonus-section__list">
    <div class="bonus-section__list-item">
      <img
        src="images/bonus-section/basketball.png"
        alt="Bonus Icon 1"
        class="bonus-section__icon"
      />
      <div class="bonus-section__content">
        <h3 class="bonus-section__list-title">BONUS NAME</h3>
        <p class="bonus-section__list-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
          egestas eget purus in dignissim imperdiet sagittis eget.
        </p>
        <button class="bonus-section__btn">Sign Up</button>
      </div>
    </div>

    <div class="bonus-section__list-item">
      <img
        src="images/bonus-section/basketball-two.png"
        alt="Bonus Icon 2"
        class="bonus-section__icon"
      />
      <div class="bonus-section__content">
        <h3 class="bonus-section__list-title">BONUS NAME</h3>
        <p class="bonus-section__list-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
          egestas eget purus in dignissim imperdiet sagittis eget.
        </p>
        <button class="bonus-section__btn">Sign Up</button>
      </div>
    </div>

    <div class="bonus-section__list-item">
      <img
        src="images/bonus-section/helmet.png"
        alt="Bonus Icon 2"
        class="bonus-section__icon"
      />
      <div class="bonus-section__content">
        <h3 class="bonus-section__list-title">BONUS NAME</h3>
        <p class="bonus-section__list-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
          egestas eget purus in dignissim imperdiet sagittis eget.
        </p>
        <button class="bonus-section__btn">Sign Up</button>
      </div>
    </div>

    <div class="bonus-section__list-item">
      <img
        src="images/bonus-section/american.png"
        alt="Bonus Icon 2"
        class="bonus-section__icon"
      />
      <div class="bonus-section__content">
        <h3 class="bonus-section__list-title">BONUS NAME</h3>
        <p class="bonus-section__list-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
          egestas eget purus in dignissim imperdiet sagittis eget.
        </p>
        <button class="bonus-section__btn">Sign Up</button>
      </div>
    </div>

    <div class="bonus-section__list-item">
      <img
        src="images/bonus-section/base.png"
        alt="Bonus Icon 2"
        class="bonus-section__icon"
      />
      <div class="bonus-section__content">
        <h3 class="bonus-section__list-title">BONUS NAME</h3>
        <p class="bonus-section__list-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
          egestas eget purus in dignissim imperdiet sagittis eget.
        </p>
        <button class="bonus-section__btn">Sign Up</button>
      </div>
    </div>

    <div class="bonus-section__list-item">
      <img
        src="images/bonus-section/rawlling.png"
        alt="Bonus Icon 2"
        class="bonus-section__icon"
      />
      <div class="bonus-section__content">
        <h3 class="bonus-section__list-title">BONUS NAME</h3>
        <p class="bonus-section__list-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
          egestas eget purus in dignissim imperdiet sagittis eget.
        </p>
        <button class="bonus-section__btn">Sign Up</button>
      </div>
    </div>
  </div>
</section>
