<aside class="casino">
  <header class="casino__header">CASINO</header>

  <div class="casino__games">
    <div class="casino__game">
      <img
        src="images/casino/game-one.png"
        alt="Game 1"
        height="120"
        class="casino__game-image"
      />
    </div>
    <div class="casino__game">
      <img
        src="images/casino/game-two.png"
        alt="Game 2"
        height="120"
        class="casino__game-image"
      />
    </div>
    <div class="casino__game">
      <img
        src="images/casino/game-three.png"
        alt="Game 3"
        height="120"
        class="casino__game-image"
      />
    </div>
    <div class="casino__game">
      <img
        src="images/casino/game-four.png"
        alt="Game 4"
        height="120"
        class="casino__game-image"
      />
    </div>
    <div class="casino__game">
      <img
        src="images/casino/game-five.png"
        alt="Game 5"
        height="120"
        class="casino__game-image"
      />
    </div>
    <div class="casino__game">
      <img
        src="images/casino/game-six.png"
        alt="Game 6"
        height="120"
        class="casino__game-image"
      />
    </div>
  </div>
</aside>
