<section class="quick-facts">
  <h2 class="quick-facts__title">QUICK FACTS</h2>
  <ul class="quick-facts__list">
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">🌐</span>
      <span class="quick-facts__label">Website</span>
      <span class="quick-facts__value">
        <a href="https://casinoname.com/">casinoname.com</a>
      </span>
    </li>
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">🎮</span>
      <span class="quick-facts__label">Game Types</span>
      <span class="quick-facts__value"
        >Sportsbook, Casino, Live Games, Live Casino</span
      >
    </li>
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">💳</span>
      <span class="quick-facts__label">Deposit Methods</span>
      <span class="quick-facts__value"
        >Visa, Mastercard, Maestro, PayPal, Skrill, Neteller, Trustly, Bitcoin,
        Bank Transfer, Entropay, ecoPayz, Neosurf</span
      >
    </li>
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">🏦</span>
      <span class="quick-facts__label">Withdrawal Methods</span>
      <span class="quick-facts__value"
        >Visa, Mastercard, Maestro, PayPal, Skrill, Neteller, Trustly, Bitcoin,
        Bank Transfer, Entropay, ecoPayz, Neosurf</span
      >
    </li>
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">⚽</span>
      <span class="quick-facts__label">Betting Functions</span>
      <span class="quick-facts__value">Live betting, cash out</span>
    </li>
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">🎰</span>
      <span class="quick-facts__label">Casino Game Types</span>
      <span class="quick-facts__value">Slots, table games</span>
    </li>
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">🏢</span>
      <span class="quick-facts__label">Casino Provider</span>
      <span class="quick-facts__value"
        >1X2 Network, Amatic Industries, Apollo Games, Asia Gaming and
        more</span
      >
    </li>
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">📱</span>
      <span class="quick-facts__label">Apps</span>
      <span class="quick-facts__value">iPhone, Android</span>
    </li>
    <li class="quick-facts__item">
      <span class="quick-facts__list-icon">📅</span>
      <span class="quick-facts__label">Founded Year</span>
      <span class="quick-facts__value">2017</span>
    </li>
  </ul>
</section>
