<section class="faq">
  <h2 class="faq__title">FAQ</h2>
  <div class="faq__item">
    <div class="faq__question">Question?</div>
    <div class="faq__answer">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      vero! Iure est ducimus earum exercitationem aperiam dignissimos
      perferendis? Minima maiores ut beatae, aliquid iusto odit repellat ea
      voluptatem dicta recusandae!
    </div>
  </div>
  <div class="faq__item">
    <div class="faq__question">Question?</div>
    <div class="faq__answer">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem mollitia
      distinctio veritatis, minima labore repellat assumenda facilis incidunt
      repellendus omnis debitis in explicabo corrupti nostrum odio dolor quis
      ducimus sunt!
    </div>
  </div>
  <div class="faq__item">
    <div class="faq__question">Question?</div>
    <div class="faq__answer">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
      deleniti distinctio iusto hic? Iusto porro earum molestias, eaque aperiam
      architecto ex accusamus velit numquam, doloremque perferendis cumque.
      Delectus, inventore cupiditate.
    </div>
  </div>
</section>
