<footer class="footer">
  <div class="footer__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget est a
    purus dignissim aliquet eget eu sapien. Donec auctor vehicula lorem, eu
    suscipit est luctus sit amet.
  </div>

  <div class="footer__age-restriction">
    <span class="footer__age-restriction-icon">18+</span>
  </div>

  <div class="footer__logo">
    <a href="/">
      <img src="images/logo.png" alt="Logo" class="banner__logo-image"
    /></a>
  </div>
  <div class="footer__logo">
    <a href="/">
      <img src="images/logo.png" alt="Logo" class="banner__logo-image"
    /></a>
  </div>
</footer>
