<section class="section">
  <div class="section__item">
    <img src="images/nav/money.png" alt="Play Review" class="section__icon" />
    <span class="section__label">Play Review</span>
  </div>
  <div class="section__item">
    <img
      src="images/nav/crown.png"
      alt="Casino Bonuses"
      class="section__icon"
    />
    <span class="section__label">Casino Bonuses</span>
  </div>
  <div class="section__item">
    <img
      src="images/nav/group.png"
      alt="Casino Bonuses"
      class="section__icon"
    />
    <span class="section__label">Casino Bonuses</span>
  </div>
  <div class="section__item">
    <img src="images/nav/casino.png" alt="Casino App" class="section__icon" />
    <span class="section__label">Casino App</span>
  </div>
  <div class="section__item">
    <img
      src="images/nav/device.png"
      alt="CASINO MOBILE"
      class="section__icon"
    />
    <span class="section__label">CASINO MOBILE</span>
  </div>
  <div class="section__item">
    <img src="images/nav/gr.png" alt="HOW TO SIGN UP" class="section__icon" />
    <span class="section__label">HOW TO SIGN UP</span>
  </div>
  <div class="section__item">
    <img
      src="images/nav/croupier.png"
      alt="CASINO REVIEW"
      class="section__icon"
    />
    <span class="section__label">CASINO REVIEW</span>
  </div>
  <div class="section__item">
    <img src="images/nav/card.png" alt="PLAYER REVIEWS" class="section__icon" />
    <span class="section__label">PLAYER REVIEWS (4)</span>
  </div>
  <div class="section__item">
    <img src="images/nav/gru.png" alt="Complaints" class="section__icon" />
    <span class="section__label">Complaints</span>
  </div>
</section>
