<section class="player-reviews">
  <h2 class="player-reviews__title">What Other Players Have to Say</h2>
  <button class="player-reviews__prev">❮</button>
  <button class="player-reviews__next">❯</button>
  <div class="player-reviews__slider">
    <div class="player-reviews__items">
      <article class="player-reviews__item">
        <div class="player-reviews__item-content">
          <img
            class="player-reviews__item-image"
            src="images/players/jos.png"
            alt="Joshua"
          />
          <div class="player-reviews__item-details">
            <div class="player-reviews__item-header">
              <p class="player-reviews__name">Joshua</p>
              <span class="player-reviews__rating">
                <span class="star"><span class="rating">4.5</span></span>
              </span>
            </div>
            <p class="player-reviews__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </article>
      <article class="player-reviews__item">
        <div class="player-reviews__item-content">
          <img
            class="player-reviews__item-image"
            src="images/players/mark.png"
            alt="Mark"
          />
          <div class="player-reviews__item-details">
            <div class="player-reviews__item-header">
              <p class="player-reviews__name">Mark</p>
              <span class="player-reviews__rating">
                <span class="star"><span class="rating">4.5</span></span>
              </span>
            </div>
            <p class="player-reviews__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </article>
      <article class="player-reviews__item">
        <div class="player-reviews__item-content">
          <img
            class="player-reviews__item-image"
            src="images/players/jos.png"
            alt="Joshua"
          />
          <div class="player-reviews__item-details">
            <div class="player-reviews__item-header">
              <p class="player-reviews__name">Joshua</p>
              <span class="player-reviews__rating">
                <span class="star"><span class="rating">4.5</span></span>
              </span>
            </div>
            <p class="player-reviews__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </article>
      <article class="player-reviews__item">
        <div class="player-reviews__item-content">
          <img
            class="player-reviews__item-image"
            src="images/players/mark.png"
            alt="Mark"
          />
          <div class="player-reviews__item-details">
            <div class="player-reviews__item-header">
              <p class="player-reviews__name">Mark</p>
              <span class="player-reviews__rating">
                <span class="star"><span class="rating">4.5</span></span>
              </span>
            </div>
            <p class="player-reviews__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
