<section class="player-reviews">
  <h2 class="player-reviews__title">What Other Players Have to Say</h2>
  <div class="player-reviews__slider">
    <div class="player-reviews__items">
      <article class="player-reviews__item">
        <img src="images/players/jos.png" alt="Joshua" />
        <p class="player-reviews__name">Joshua</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </article>
      <article class="player-reviews__item">
        <img src="images/players/mark.png" alt="Mark" />
        <p class="player-reviews__name">Mark</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </article>
      <article class="player-reviews__item">
        <img src="images/players/jos.png" alt="Joshua" />
        <p class="player-reviews__name">Joshua</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </article>
      <article class="player-reviews__item">
        <img src="images/players/mark.png" alt="Mark" />
        <p class="player-reviews__name">Mark</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </article>
    </div>

    <button class="player-reviews__prev">❮</button>
    <button class="player-reviews__next">❯</button>
  </div>
</section>
