<section class="rating-section">
  <div class="rating-item">
    <div id="ratingBonusOffer" class="rating-item__label">Bonus Offer</div>
    <div class="rating-item__stars">
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star"></span>
      <span class="rating-item__score">9/10</span>
    </div>
  </div>

  <div class="rating-item">
    <div id="ratingBettingVariety" class="rating-item__label">Betting Variety</div>
    <div class="rating-item__stars">
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star"></span>
      <span class="rating-item__star"></span>
      <span class="rating-item__score">8/10</span>
    </div>
  </div>

  <div class="rating-item">
    <div id="ratingMobileExperience" class="rating-item__label">Mobile Experience</div>
    <div class="rating-item__stars">
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star"></span>
      <span class="rating-item__star"></span>
      <span class="rating-item__star"></span>
      <span class="rating-item__score">7/10</span>
    </div>
  </div>

  <div class="rating-item">
    <div id="ratingPaymentOptions" class="rating-item__label">Payment Options</div>
    <div class="rating-item__stars">
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star rating-item__star--active"></span>
      <span class="rating-item__star"></span>
      <span class="rating-item__score">9/10</span>
    </div>
  </div>
</section>
