<aside class="sidebar">
  <div class="sidebar__events">
    <div class="live-events" id="liveEventsButton">
      <span class="live-events__icon">
        <img src="images/events/play.png" alt="Live Events Icon" />
      </span>
      <span class="live-events__label" id="liveEventsLabel">LIVE EVENTS</span>
      <span class="live-events__count">(143)</span>
      <span class="live-events__icon--end">
        <img src="images/events/plays.png" alt="End Icon" />
      </span>
    </div>
  </div>
  <audio id="click-sound" preload="auto">
    <source src="https://www.soundjay.com/sports/sounds/sports-crowd-cheering-1.mp3" type="audio/mpeg">
  </audio>
  <ul class="sidebar__list">
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏈</span> <span id="americanFootball">American Football</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏀</span> <span id="basketball">Basketball</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🎳</span> <span id="bowling">Bowling</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🥊</span> <span id="box">Box</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">⚽</span> <span id="football">Football</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">⛳</span> <span id="golf">Golf</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏌️</span> <span id="golfClub">Golf Club</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🛹</span> <span id="skateboard">Skateboard</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏓</span> <span id="tableTennis">Table Tennis</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🎾</span> <span id="tennisRacket">Tennis Racket</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏐</span> <span id="volleyball">Volleyball</span>
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏉</span> <span id="rugby">Rugby</span>
      </a>
    </li>
  </ul>
</aside>
