<aside class="sidebar">
  <ul class="sidebar__list">
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏈</span> American Football
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏀</span> Basketball
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🎳</span> Bowling
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🥊</span> Box
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">⚽</span> Football
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">⛳</span> Golf
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏌️</span> Golf Club
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🛹</span> Skateboard
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏓</span> Table Tennis
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🎾</span> Tennis Racket
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏐</span> Volleyball
      </a>
    </li>
    <li class="sidebar__list-item">
      <a href="#" class="sidebar__list-link">
        <span class="sidebar__list-icon">🏉</span> Buscetball
      </a>
    </li>
  </ul>
</aside>
