<section class="sportsbook">
  <h2 class="sportsbook__title">SPORTSBOOK REVIEW</h2>
  <p class="sportsbook__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat egestas
    eget purus, in dapibus imperdiet quis eget. Curabitur semper volutpat cras
    elementum. Eget ultrices donec urna tellus duis ullamcorper consequat. Enim
    nunc neque tristique adipiscing varius sit tristique. Sit parturient eget
    pharetra, suspendisse. Turpis ut odio lorem sapien congue. Pulvinar id in
    mollis faucibus ut. Magna in neque tristi.
  </p>

  <h3 class="sportsbook__subtitle">LINEUP OF THE SPORTS</h3>
  <p class="sportsbook__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat egestas
    eget purus, in dapibus imperdiet quis eget. Curabitur semper volutpat cras
    elementum. Eget ultrices donec urna tellus duis ullamcorper consequat. Enim
    nunc neque tristique adipiscing varius sit tristique. Sit parturient eget
    pharetra, suspendisse. Turpis ut odio lorem sapien congue. Pulvinar id in
    mollis faucibus ut. Magna in neque tristi.
  </p>

  <h3 class="sportsbook__subtitle">BETTING TYPES</h3>
  <p class="sportsbook__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat egestas
    eget purus, in dapibus imperdiet quis eget. Curabitur semper volutpat cras
    elementum. Eget ultrices donec urna tellus duis ullamcorper consequat. Enim
    nunc neque tristique adipiscing varius sit tristique. Sit parturient eget
    pharetra, suspendisse. Turpis ut odio lorem sapien congue. Pulvinar id in
    mollis faucibus ut. Magna in neque tristi.
  </p>

  <h3 class="sportsbook__subtitle">LIVE BETTING</h3>
  <ul class="sportsbook__list">
    <li class="sportsbook__list-item">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
    <li class="sportsbook__list-item">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
    <li class="sportsbook__list-item">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
    <li class="sportsbook__list-item">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      <ol class="sportsbook__list-itemnum">
        <li class="sportsbook__list-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
          egestas eget purus, in dapibus imperdiet quis eget.
        </li>
        <li class="sportsbook__list-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </li>
        <li class="sportsbook__list-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
          egestas eget purus.
        </li>
      </ol>
    </li>
  </ul>

  <p class="sportsbook__list-item">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat egestas
    eget purus, in dapibus imperdiet quis eget. Curabitur semper volutpat cras
    elementum. Eget ultrices donec urna tellus duis ullamcorper consequat. Enim
    nunc neque tristique adipiscing varius sit tristique. Sit parturient eget
    pharetra, suspendisse. Turpis ut odio lorem sapien congue. Pulvinar id in
    mollis faucibus ut. Magna in neque tristi
  </p>
  <button class="sportsbook__cta">SIGN UP</button>
</section>
