<section class="customer-support">
  <h2 class="customer-support__title">Customer Support</h2>
  <p class="customer-support__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam tempore esse,
    delectus praesentium facilis perspiciatis iste id eos! Provident maiores
    totam quod maxime vero id sequi doloribus, consequuntur magni suscipit.
  </p>
  <div class="customer-support__contact-options">
    <div class="customer-support__option">
      <span class="customer-support__icon" aria-label="Chat Icon">💬</span>
      <span class="customer-support__text">Chat</span>
    </div>
    <div class="customer-support__option">
      <span class="customer-support__icon" aria-label="Phone Icon">📞</span>
      <span class="customer-support__text">Phone</span>
    </div>
    <div class="customer-support__option">
      <span class="customer-support__icon" aria-label="Email Icon">✉️</span>
      <span class="customer-support__text">Email</span>
    </div>
  </div>
  <div class="customer-support__info">
    <div class="customer-support__info-item">
      <div class="customer-support__info-label">
        <i class="fas fa-envelope support__detail-icon"></i> Email Technical
        Support:
      </div>
      <div class="customer-support__info-value">
        <a href="mailto:support@gmail.com" class="email">support@gmail.com</a>
      </div>
    </div>
    <div class="customer-support__info-item">
      <div class="customer-support__info-label">
        <i class="fas fa-envelope support__detail-icon"></i> Online Partnership
        Queries:
      </div>
      <div class="customer-support__info-value">
        <a href="mailto:partnerships@gmail.com" class="email"
          >partnerships@gmail.com</a
        >
      </div>
    </div>
    <div class="customer-support__info-item">
      <div class="customer-support__info-label">
        <i class="fas fa-comments support__detail-icon"></i> Live Chat:
      </div>
      <div class="customer-support__info-value">Available</div>
    </div>
    <div class="customer-support__info-item">
      <div class="customer-support__info-label">
        <i class="fas fa-map-marker-alt support__detail-icon"></i> Address:
      </div>
      <div class="customer-support__info-value">
        Broadway, 12, Lyric Building, Block 1, 1st Floor, Post Office 151,
        20200, Oslo, Norway
      </div>
    </div>
    <div class="customer-support__info-item">
      <a href="#" class="customer-support__info-map">
        <i class="fas fa-map-marker-alt support__detail-icon"></i>
        Google Maps
      </a>
    </div>
  </div>
</section>
