html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--main-color);
  background-color: #001f3f;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 320px) {
  .container-footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .block-casino{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* .block-casino{
    display:flex;
  } */
  /* .hero-block {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    width: 768px;
    box-sizing: border-box; 
  } */
  
  /* .hero-block > div:first-child {
    flex-grow: 8; 
    flex-shrink: 1; 
  }
  
  .hero-block > .block-casino {
    flex-grow: 2; 
    flex-shrink: 1; 
  }
   */
}

@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1200px;
  }
  .casino-name {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .hero-block {
    display: flex;
    width: 1003px;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; 
  }
}
