.bonus-hero {
  position: relative;
  background: url('../images/bonus.jpg') no-repeat center center/cover;
  border-radius: 6px;
  width: 100%;
  height: 250px;
  margin: 20px auto 0 auto;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .bonus-hero {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .bonus-hero {
    width: 1280px;
    height: 384px;
    background-size: cover;
  }
}
