.bonus-section {
  padding: 20px;
  margin: 20px auto;
}

.bonus-section__header {
  margin: 20px 0;
  border-radius: 6px;
  padding: 20px;
  background: #fff;
}

.bonus-section__title {
  font-weight: 700;
font-size: 48px;
line-height: 1.2;
text-transform: uppercase;
color: #192a32;
}

.bonus-section__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #192a32;
}

.bonus-section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.bonus-section__list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  gap: 10px;
}

.bonus-section__icon {
  width: 60px;
  height: 60px;
}

.bonus-section__content {
  text-align: left;
}

.bonus-section__list-title {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  text-align: left;
  color: #192a32;
}

.bonus-section__list-description {
  font-weight: 400;
  font-size: 16px;
  color: #192a32;
}

.bonus-section__btn {
  background-color: #ff6600;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 12px 32px;
}

.bonus-section__btn:hover {
  background-color: #e65c00;
}

@media (min-width: 768px) {
  .bonus-section {
    /* max-width: 768px; */
    margin: 20px auto;
  }

  .bonus-section__header {
    padding: 30px;
  }

  .bonus-section__title {
    font-size: 32px;
  }

  .bonus-section__text {
    font-size: 18px;
  }

  .bonus-section__list-item {
    flex-direction: row;
    align-items: center;
  }

  .bonus-section__icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .bonus-sectio {
    max-width: 925px;
    margin: 20px auto;
  }

  .bonus-section__header {
    padding: 40px;
  }

  .bonus-section__title {
    font-size: 36px;
  }

  .bonus-section__list {
    gap: 30px;
  }

  .bonus-section__list-item {
    padding: 30px;
    gap: 30px;
  }

  .bonus-section__icon {
    width: 250px;
    height: 250px;
  }

  .bonus-section__btn {
    padding: 12px 30px;
    border-radius: 16px;
    width: 140px;
  }
  .bonus-section {
    width: 925px;
  }
  .bonus-contaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container-footer .footer {
    margin: 0 auto;
  }
}
