.bonus-section {
  background: url('../images/bonusbg.png') no-repeat center center/cover;
  padding: 20px;
  border-radius: 10px;
  height: 384px;
  max-width: 925px;
  margin: 20px 0;
  padding: 90px 0 90px 20px;
}
.bonus-section__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 494px;
}
.bonus-section__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #192a32;
  margin-bottom: 10px;
}

.bonus-section__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #192a32;
}

.bonus-section__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #fcfcfc;
  text-decoration: none;
  box-shadow: 0 4px 18px 0 rgba(14, 24, 17, 0.25);
  background: #ec622b;
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 12px 30px;
  width: 214px;
  height: 48px;
}
