.live-events {
  display: inline-flex;
  align-items: center;
  background-color: #ff4d00;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  padding: 1px;
  white-space: nowrap;
  width:100%;
}

.live-events__icon {
  margin-right: 10px;
}

.live-events__icon img {
  width: 40px; 
  height: 40px;
  object-fit: contain; 
  max-width: none; 
  max-height: none;
}

.live-events__label {
  margin-right: 5px;
  margin-left:15px;
}

.live-events__count {
  margin-right: 5px;
  font-weight: normal;
}

.live-events__icon--end {
  margin-left: auto;
}

.live-events__icon--end img {
  width: 20px;
  height: 20px;
}
.live-events__label{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: justify;
color: #fcfcfc;
}