.faq {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 6px;
  width: 100%;
}

.faq__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #192a32;
}

.faq__question {
  background-color: #eaeaea;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #192a32;
}

.faq__answer {
  display: none;
  padding: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #192a32;
  opacity: 0.9;
}

.faq__question--active + .faq__answer {
  display: block;
}

@media (min-width: 768px) {
  .faq {
    padding: 30px;
    width: 100%;
  }

  .faq__title {
    font-size: 36px;
    text-align: left;
  }

  .faq__question {
    font-size: 18px;
    padding: 20px;
  }

  .faq__answer {
    font-size: 18px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .faq {
    width: 925px;
    margin-bottom: 20px;
    padding: 32px;
  }

  .faq__title {
    font-size: 48px;
  }

  .faq__question {
    font-size: 20px;
    padding: 20px 25px;
  }

  .faq__answer {
    padding: 20px 25px;
    width: 884px;
  }
}
