.footer {
  border-radius: 6px;
  width: 100%;
  padding: 20px;
  background: var(--white);
  margin-top: 20px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.footer__text,
.footer__note {
  font-size: 14px;
  color: var(--bonus-section);
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer__logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.footer__logo img {
  width: 100px;
  height: auto;
}

.footer__age-restriction {
  margin-top: 10px;
  color: var(--footer);
}

.footer__age-restriction-icon {
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer__description {
    max-width: 600px;
  }

  .footer__logos {
    justify-content: flex-end;
  }

  .footer__logo img {
    width: 120px;
  }
}

@media (min-width: 1024px) {
  .footer {
    width: 925px;
    padding: 35px 20px;
  }

  .footer__logos {
    justify-content: space-between;
  }

  .footer__logo img {
    width: 150px;
  }
}
