.header {
  background-color: #1e2d39;
  padding: 16px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.header__nav {
  display: none;
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  margin-right: 16px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #fcfcfc;
  padding: 14px 58px;
  background-color: #223e50;
  border-radius: 8px;
}

.header__nav-link:hover {
  background-color: #2a5067;
}

.header__actions {
  display: flex;
  align-items: center;
}
.banner__logo-image {
  width: 120px;
  height: 55px;
}

.header__lang-select {
  background-color: #223e50;
  border: none;
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #fff;
}

.header__button {
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #fcfcfc;
}

.header__button--signup {
  background-color: #ff5722;
  color: white;
  margin-right: 16px;
}

.header__button--signup:hover {
  background-color: #ff7043;
}

.header__button--login {
  background-color: #4caf50;
  color: white;
}

.header__button--login:hover {
  background-color: #66bb6a;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__nav-link {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.icon-bonus {
  background-image: url('../images/header/Gift.png');
}

.icon-app {
  background-image: url('../images/header/iPhone.png');
}
