.promo {
  background-color: #f7f7f7;
  padding: 16px 0;
  border-radius: 6px;
  width: 925px;
  height: 98px;
}

.promo__content {
  display: flex;
  align-items: center;
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #192a32;
  margin-right: 20px;
  max-width: 666px;
}

.promo__button {
  display: flex;
  align-items: center;
  background: #1a3769;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: justify;
  color: #fff;
  transition: background-color 0.3s ease;
  border-radius: 16px;
  padding: 12px;
  width: 179px;
  height: 48px;
}

.promo__button:hover {
  background-color: #0056b3;
}

.promo__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.promo__icon--app {
  background-image: url('../images/promo/ant-design_apple-filled.png');
  background-size: cover;
}

.promo__icon--arrow {
  background-image: url('../images/promo/ant-design_android-filled.png');
  background-size: cover;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .promo__content {
    flex-direction: column;
    text-align: center;
  }

  .promo__text {
    margin-bottom: 12px;
    max-width: 100%;
  }

  .promo__button {
    justify-content: center;
  }
}
