.promo {
  background-color: var(--promo);
  padding: 12px 0;
  border-radius: 6px;
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.promo__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--player-name);
  margin-bottom: 12px;
  max-width: 100%;
}

.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--submit);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 16px;
  padding: 10px;
  width: 160px;
  height: 44px;
  white-space: nowrap;
}

.promo__icon {
  width: 14px;
  height: 14px;
}

.promo__icon--app {
  background-image: url('../images/promo/ant-design_apple-filled.png');
  background-size: cover;
}

.promo__icon--arrow {
  background-image: url('../images/promo/ant-design_android-filled.png');
  background-size: cover;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .promo {
    padding: 16px 5px;
    height: auto;
  }

  .promo__content {
    flex-direction: row;
    text-align: left;
  }

  .promo__text {
    font-size: 16px;
    margin-right: 20px;
    max-width: 666px;
  }
  .live-events {
    margin-left: 20px;
  }

  .promo__button {
    height: 48px;
    font-size: 15px;
  }
  .live-events {
    display: inline-flex;
    align-items: center;
    padding: 1px;
    background-color: var(--live);
    border-radius: 20px;
    font-family: Arial, sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .promo__icon {
    display: none;
  }
  .live-events__label {
    font-size: 10px;
  }
  .live-events__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
    color: var(--app-hero);
  }
}
@media screen and (min-width: 1024px) {
  .promo {
    width: 925px;
    height: 98px;
    margin: 20px 0;
    padding: 25px 20px;
    display: flex;
    align-items: center;
  }

  .promo__text {
    margin-right: 20px;
    max-width: 666px;
  }

  .promo__button {
    width: 179px;
    height: 48px;
    font-size: 16px;
    padding: 15px 22px;
    display: flex;
    gap: 5px;
  }
  .live-events__icon {
    width: 20px;
  }
  .live-events {
    display: inline-flex;
    align-items: center;
    background-color: #ff4d00;
    padding: 1px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 251px;
    justify-content: space-between;
    white-space: nowrap;
  }

  .live-events img {
    margin-right: 8px;
  }
}
