.rating-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  border-radius: 6px;
  padding: 32px 20px;
  width: 925px;
  background: #fff;
}

.rating-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #80bef8;
  border-radius: 6px;
  padding: 16px 24px;
  width: 885px;
  height: 63px;
}

.rating-item__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
}

.rating-item__stars {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
}

.rating-item__star {
  width: 20px;
  height: 20px;
  background-image: url('../images/rating/ratingp.png');
  background-size: cover;
}

.rating-item__star--active {
  background-image: url('../images/rating/rating.png');
}

.rating-item__score {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
