:root {
  --main-color: #fafafa;
  --bg-color: #1c1d20;
  --btn-color: #ed3b44;
  --btn-hover-color: #e0373f;
  --gray-color: #3b3b3b;
  --support-text: #242527;
  --cards-color: #1c1d20;
  --bg-app: #ff6a00;
  --white: #ffffff;
  --bg-hover: #ff5000;
  --primary: #ec622b;
  --app-hero: #fcfcfc;
  --app-herobt: #ff5000;
  --badges-link: #747bff;
  --item: #f6f6f6;
  --vite: #41d1ff;
  --rating: #80bef8;
  --sidebar: #7c7c7c;
  --sidebar-list: #004080;
  --bg-colorbody: #001f3f;
  --player: #e2eaf7;
  --protsbok: #192a32;
  --email: #2e9344;
  --customer: #192a32;
  --prots-list: #666;
  --player-name: #192a32;
  --bonus-section: #192a32;
  --bonus-sectionbtn: #ff6600;
  --bonus-sectionhover: #e65c00;
  --bonus-sectionclas: #ec622b;
  --casino: #4caf50;
  --casino-auth: #f44336;
  --casino-hover: #ddd;
  --banner: #ff787d;
  --submit: #1a3769;
  --live: #ff4d00;
  --faq: #eaeaea;
  --footer: #ccc;
  --black: #000000;
  --promo: #f7f7f7;
  --header: #1e2d39;
  --header-naw: #2a5067;
  --faq-answer: #f9f9f9;
  --signup: #ff5722;
  --signup-hover: #ff7043;
  --logout: #141e55;
  --header-lang: #223e50;
  --login-hover: #66bb6a;
  --close: #aaa;
  --contant: #0fa810;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
